* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*  font-family: 'Gill Sans';*/
}

header {
    background-color: #fff;
    margin: 12px 10px;
    justify-content: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    border: solid 2px black;
    font-family: "Josefin Slab", serif;
    font-style: italic;
    font-size: 14px;
    height: 25px 30px;
    overflow: auto;
}

body {
    background-image: url(../FRONTEND/img/Tribuna_uffizi.jpg);
    background-size: cover;
    image-rendering: crisp-edges;
}

.navegacion {
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    /*  align-items: center;*/
    border: black solid 2px;
    border-radius: 4px;
    background-color: #fff;
    margin: 10px 20px;
    padding: 15px;
}

.navegacion a {
    text-decoration: none;
    color: black;
    font-size: 20px;

}

.navegacion a:hover {
    background-color: black;
    color: #fff;
    padding: 10px;
    transition: all 0.3s ease-in;


}

.navegacion li {
    /* list-style: none;
    text-align: center;
    /*width: 30%;*/
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;

}

.navegacion ul li {

    margin: 0 15px 0 15px;
    padding: 3px;
    justify-content: space-evenly;
    overflow: auto;
}